h1,
footer {
    text-align: center;
}

main {
    width: 100%;
    height: 610px;
    border: 1px solid black;
    position: relative;
    background-color: blue;
   
    
}

.caja {
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    text-align: center;
    
}


.cajaIzq {
    animation-name: uno;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1s;
    left: 821px;
}

.cajaDer {
    animation-name: dos;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1s;
    right: 821px
}

.caja1 {
    bottom: 560px;
}

.caja2 {
    bottom: 520px;
}

.caja3 {
    bottom: 480px;
}

.caja4 {
    bottom: 440px;
}

.caja5 {
    bottom: 400px;
}

.caja6 {
    bottom: 360px;
}

.caja7 {
    bottom: 320px;
}

.caja8 {
    bottom: 280px;
}

.caja9 {
    bottom: 240px;
}

.caja10 {
    bottom: 200px;
}

.caja11 {
    bottom: 160px;
}

.caja12 {
    bottom: 120px;
}

.caja13 {
    bottom: 80px;
}

.caja14 {
    bottom: 40px;
}

.caja15 {
    bottom: 0px;
}

@keyframes uno {
    0% {
        left: 0;
        width: 5px;
        height: 5px;
    }

    25% {
        bottom: 300px;
        width: 15px;
        height: 15px;
    }

    50% {
        background-color: red;
        width: 25px;
        height: 25px;
    }

    75% {
        transform: rotate(360deg);
        width: 35px;
        height: 35px;
    }

    100% {
        width: 50px;
        height: 50px;
    }

}

@keyframes dos {
    0% {
        right: 0;
        width: 5px;
        height: 5px;
    }

    25% {
        bottom: 300px;
        width: 15px;
        height: 15px;
    }

    50% {
        background-color: red;
        width: 25px;
        height: 25px;
    }

    75% {
        transform: rotate(360deg);
        width: 35px;
        height: 35px;
    }

    100% {
        width: 50px;
        height: 50px;
    }

}