.contenedor {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    background-color: aqua;
}

.caja {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 5px;
}

.caja1 {
    background-color: gold;
}

.caja2 {
    background-color: blue;
}

.caja3 {
    background-color: crimson;
}

.caja4 {
    background-color: green;
}

.caja5 {
    background-color: orange;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}