* {
    margin: 0;
    box-sizing: border-box;
}

.flex-contenedor div {
    width: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;  /* interlineado */
    border: 2px solid black;
    background-color: orange;
}

/* PROP DISPLAY FLEX SIEMPRE EN CAJA CONTENEDORA!!! */
.flex-contenedor-1 {
    display: flex;
    flex-direction: row; /* por defecto */
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
}

.flex-contenedor-2 {
    display: flex;
    flex-wrap: nowrap; /* por defecto */
    /* las cajas mantienen su ancho y si no caben, se desplazan hacia abajo */
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    /* une la props de eje flex-direction y wrap */
    flex-flow: row-reverse wrap;
}

.flex-contenedor-3 {
    display: flex;
    /* alineacion proporcional EJE X!! */
    justify-content: flex-start; /* por defecto*/
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    /* ----------------- */
    height: 500px;
    border: 1px solid black;
    /* alineacion proporcional EJE Y!! */
    align-items: stretch; /* por defecto */
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;

}

.flex-contenedor-4 {
    display: flex;
    height: 500px;
    border: 1px solid black;
    flex-wrap: wrap;
    align-content: space-around;
    align-content: space-between;
    align-content: flex-start;
    align-content: flex-end;
}

.flex-contenedor-5 {
    display: flex;
}