*{
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: azure;
}
header{
    text-decoration: none;

}
/* header top */
ul{
    display: flex; 
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 8px;
    background-color: darkolivegreen;
    cursor: pointer;
    justify-content: end;
    list-style: none;

}
nav{
    text-decoration: none;

}
a{ color:#ffffffbf;
    text-decoration: none;

}
li{
    text-decoration: none;

}
