* {
    margin: 0;
   box-sizing: border-box;
}

body {
    background-color: azure;
}

/*header top */
header-top ul {
    display: flex;
    justify-content: end;
    width: auto;
    margin: auto;
    padding: 8px;
    background-color: rgb(35, 87, 35);
    cursor: pointer;
    list-style: none;
}

header-top li a {
    color: rgb(129, 179, 162);
    text-decoration: none;
    border-right: 1px solid white;
}
.top li a:hover{
    color: aliceblue;
    width: auto;
    margin: auto;
    padding: 8px;
    background-color: rgb(49, 116, 49);
    

}
header-bottom{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.unica {
    display: flex;
    flex-direction: column;
    height: 100px;
    }
.primera{
    font-size: 20px;
    color: rgb(129, 179, 162);
    display: flex;
    gap: 25px;
    list-style: none;


}
.primera li:hover{
    cursor: pointer;
    width: auto;
    height: 45px;
    background-color: rgb(49, 116, 49);
    color: aliceblue;
    
}