footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: olive;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    height: 60px;
    list-style: none;
    position: fixed;
    bottom: 0;

}

@keyframes uno {
    0% {transform: rotate(90deg);
        left: 0;
    }

    50% {
        background-color: green;
    }

}

@keyframes dos {
    0% {transform: rotate(-90deg);
        right: 0;
    }
    50% {
        background-color: green;
    }
   
}

.cajaIzq {
    animation-name: uno;
    left: 410px;
}

.cajaDer {
    animation-name: dos;
    right: 410px
}

.caja {
    width: 120px;
    background-color: palegoldenrod;
    position: absolute;
    animation-timing-function: linear;
    animation-duration: 5s;

}
