.container {
    display: grid;
    background-color: pink;
    height: 400px;
}

h4{
    text-align: center;
}
header {
    background-color: aqua;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

section {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

main {
    background-color: gray;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
}

aside {
    background-color: green;
    grid-column: 5 / 6;
    grid-row: 2 / 5;
}

footer {
    background-color: brown;
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}