*{
    box-sizing: border-box;
    margin: 0;
}

#logo{
    width: 100px;
    height: 100px;
    margin-left: -60px;
}

li{
    display: inline;
    margin-right: 20px;
}

a:hover{
    color:bisque;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkseagreen;
    width: 100%;
}

body {
    background-color: bisque;
}

main{
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer{
    background-color: greenyellow;
    width: 100%;
    text-align: center;
}
#logoPe{
    width: 50px;
    height: 50px;
    
}