* {
    margin: 0;
    box-sizing: border-box;
}

/* footer abajo */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* fin footer abajo */

body {
    font-family: arial, sans-serif;
    color: #474747;
}

/* GENERALES */

li, ul {
    display: inline ;
}

ul {
    padding: 0;
}

a {
    color: #474747;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

/* CABECERA */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

header nav:first-child {
    font-size: 14px;
}

header nav:last-child {
    font-size: 13px;
}

header nav:last-child li {
    vertical-align: middle ;
}

header button {
    padding: 9px 23px;
    background-color: #1a73e8;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

header button:hover {
    box-shadow: 0 1px 3px 1px rgba(66,64,67,.15),0 1px 2px 0 rgba(60,64,67,.3);
}

/* apps */
.apps {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px 7px;
    text-align: center;
}       

.apps:hover {
    cursor: pointer;
    background-color: rgba(60,64,67,.08);
}

.img-apps {
    width: 275px;
    position: absolute;
    top: 55px;
    right: 20px;
    display: none;
    /* elimina la imagen visualmente pero sigue ocupando su espacio */
    /* visibility: hidden; */
}

.apps:hover + .img-apps {
    display: block;
}
 
/* MAIN */

main > div {
    width:  500px;
    margin: 90px auto;
    /*
    Esta prop nos centra todos los elementos incluyendo las imagenes, aunque su "correcto" centrado seria aplicando un display: block y margin: auto */
    text-align: center;
}

main img {
    width: 250px;
}

.buscador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 8px 24px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;    
}

.buscador:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

input {
    width: 300px;
    /* quita el border cuando tiene el foco   */
    outline: 0; 
    border: 0;
}

.buscador-nav-1 {
    margin: 20px 0;
}

.buscador-nav-1 button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 10px 15px;
    cursor: pointer;
}

.buscador-nav-1 button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.buscador-nav-2 a {
    margin: 4px;
    color: #1a0dab;
}

/* PIE DE PAGINA */

footer {
    font-size: 13px;
    background-color: #f2f2f2;
}

.footer-top {
    padding: 10px 20px;
    border-bottom: 1px solid #dadce0;
}

.footer-bottom {
    padding: 10px 20px;
}

.footer-bottom nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom img {
    width: 15px;
}