*{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    background-color: aqua;
    border: 5px solid black;
}
h1{
    color: aqua;
}
h2{
    text-align: center;
}
header {
    position: absolute;
    padding: 5px;
    background-color: rgb(139, 116, 161);
    width: 100%;
}

img{
    width: 150px;
    height: 150px;
}

nav {
    background-color: rgb(129, 129, 209);
    width: 155px;
    height: 450px;
    margin-top: 60px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    margin: 10px;
    color: aliceblue;
}
aside {
    position: absolute;
    background-color: blueviolet;
    width: 200px;
    height: 800px;
    top: 270px;
    color: aliceblue;
    padding: 1%;
}
main {
    position: relative;
    background-color: fuchsia;
    height: 1000px;
    left: 200px;
    margin-top: 240px;
    margin-right: 200px;
}
article{
    text-align: center;
    margin: 100px;
    padding: 50px;
}
.uno{
    position: absolute;
    top: 180px;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
}
.dos{
    position: absolute;
    top: 600px;
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
}
footer {
   position: absolute;
   top: 1100px;
   width: 200px;
   background-color: sandybrown;
   text-align: center;
   

}