h1{
    text-align: center;
}

main{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

.caja{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    animation-name: ejemplo;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.caja2{
    bottom: 450px;
    background-color: green;
    animation-duration: 10s;
}

@keyframes ejemplo {
    0%{ left:0;}
    25%{ 
        left: 400px;
        bottom: 200px;
    }
    50%{ transform: scale(2);}
    75%{ background-color: red;}
    100% {
        transform: scale(1);
        left:0px;
        background-color: blue;
        transform: rotate(45deg);
    }
}