* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    background-color: aqua;
    grid-template-areas: 'cabecera cabecera cabecera cabecera cabecera cabecera'
        'menú menú principal principal principal aside'
        'menú menú principal principal principal aside'
        'menú menú principal principal principal aside'
        'pie pie pie pie pie pie';
    height: 100%;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-columns: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2{
    text-align: center;
}
.item {
    margin: 10px;
    
}

a{
    color: yellow;
    list-style: none;
    text-decoration: none;
    margin: 50px;
    
    
    
}
a:hover{
    color: black;
}
img {
    width: 100px;
    height: 100px;
}

header {
    background-color: blue;
    grid-area: cabecera;
    width: 100%;
   
   
}

nav {
    background-color: blueviolet;
    grid-area: menú;
    height: 100%;
    
    
}

main {
    background-color: darkgreen;
    grid-area: principal;
}

.foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto2{
    width: 30%;
    height: 30%;
    margin-top: 50px;
}
aside {
    background-color: darkgrey;
    grid-area: aside;
}

footer {
    background-color: darksalmon;
    grid-area: pie;
    margin-top: auto;
}