h1{
    text-align: center;
}

.nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: block;
    width: 230px;
}

.menu {
    display: inline;
}


.item {
    display: block;
    position: relative;
    background-color: greenyellow;
    border-bottom: 2px solid greenyellow;
    border-left: 6px solid greenyellow;
    width: 220px;
}


.item2{
    display: block;
    position: relative;
    background-color: yellow;
    border-bottom: 2px solid yellow;
    border-left: 6px solid yellow;
    width: 220px;

}

.item3{
    display: block;
    position: relative;
    background-color: orange;
    border-bottom: 2px solid orange;
    border-left: 6px solid orange;
    width: 220px;
}

.item4{
    display: block;
    position: relative;
    background-color: lightblue;
    border-bottom: 2px solid lightblue;
    border-left: 6px solid lightblue;
    width: 220px;
}

.item:hover {
    background-color: burlywood;
    cursor: pointer;
}

.submenu{
    position: absolute;
    top: 0px; /* Visualització al mateix nivell que opció del pare */
    left: -46px;
    opacity: 0; /* Ocultem el submenu */
    
    transition-duration: .6s;
    transition-timing-function: linear;
    transition-delay: .1s;
}


.itemsub:hover > .submenu {
    display: block;
    opacity: 1;
    left:180px;
}