* {
    margin: 0;
    box-sizing: border-box;
} 

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: aqua;
}

.container {
    display: flex;
    flex-grow: 1;
    background-color: bisque;
}

aside {
    width: 20%;
    background-color: blueviolet;
}

main {
    width: 80%;
    background-color: chartreuse;
}

footer {
    background-color: darkgoldenrod;
}