h1{
    text-align: center;
}
nav {
    font-family:sans-serif;
    font-size: 14pt;
    display: block;
    width: 220px;
}

.item {
    display: block;
    position: relative;
    background-color:lightslategrey;
    border-bottom: 2px solid ;
    border-left: 6px solid bisque;
}
.item a {
    display: inline-block;
    text-decoration: none;
    color:floralwhite;
    padding: 16px;
    width: 100% - 32px;
}
.item:hover {
    background-color:bisque;
}
.item > .menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 184px;
}
.item .item {
    width: 230px;
    border-left: 6px solid bisque;

}
.item:hover > .menu {
    display: block;
}
.container{
    border: 1px solid black;
    width: 600px;
    height: 100%;
}

.caja{
    background-color: yellow;
    width: 100px;
    height: 100px;
    transition-delay: 1s;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}

.caja:hover{
    background-color: red;
    color: blue;
    transform: translateX(400px);
}