h1, footer{
    text-align: center;
}

table{
    text-align: center;
}

td{
    border: 1px solid black;
}

td:last-child{
    opacity: 0;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}

td:last-child:hover{
    cursor: wait;
    opacity: 100;
    background-image: url(./imágenes/estrellita.gif);
    background-size:60%;
    background-position-x: center;
    background-repeat: no-repeat;
    color: red;
}

img{
    height: 50px;
    width: 50px;
}
