h1{
    text-align: center;
}

.item{
    background-color: darkmagenta;    
    position: relative;
    
    width: 100px;
    list-style: none;
}
.item .menu{
    display: none;
    position: absolute;
    top: 0px;
    left: 60px;
}

.item a {
    text-decoration: none;
    
}
.item:hover {
    background-color:bisque;
    
}

.item:hover >.menu  {
    display: block;
}