h1{
    text-align: center;
}
nav {
    font-family:sans-serif;
    font-size: 14pt;
}
.item{
    background-color: blue;    
    position: relative;
    border: 1px solid black ;
    width: 120px;
    list-style: none;
}
.item .menu{
    display: none;
    position: absolute;
    top: 0px;
    left: 85px;
}

.item a {
    text-decoration: none;
    
}
.item:hover {
    background-color:bisque;
    
}

.item:hover >.menu {
    display: block;
}