body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #333;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  color: white;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  background-color: gray;
}